{
	"clientId": "XXXXXXXXXXXXXXXXX",
	"guildId": "XXXXXXXXXXXXXXXXXXXXXXXX",
	"token": "XXXXXXXXXXXXXXXXXXXXXXXXXXXXX",
	"public_anon_key": "XXXXXXXXXXXXXXXX",
	"db_url": "XXXXXXXXXXXXXXXXXXXXXXXXXXXX",
	"channel_id": "XXXXXXXXXXXXXXXXXXXXXXXXXX"
}
